<mat-toolbar color="primary">
  app
</mat-toolbar>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    <div *ngIf="isLogged">
      <p>{{user.displayName}}</p>
      <button mat-raised-button color="warn" (click)="logout()">Cerrar sesión</button>
    </div>
    {{message | async | json}}
    <button mat-raised-button color="primary" (click)="login()" *ngIf="!isLogged">Iniciar sesión</button>
  </h2>
</div>
<mat-accordion *ngIf="isLogged">
  <mat-expansion-panel (opened)="panelOpenState"
                       (closed)="!panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nota
      </mat-panel-title>
      <mat-panel-description>
        Crear o editar una nueva nota
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="titulo" [(ngModel)]="note.title">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="descripcion" [(ngModel)]="note.description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="tipo" [(ngModel)]="note.category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button color="accent" (click)="save()">Agregar</button>
    </div>

  </mat-expansion-panel>
</mat-accordion>

<mat-list>
  <mat-card *ngFor="let note of notes">
    <mat-card-content>
      <mat-list-item>
        <h3 matLine> {{ note.user.displayName }} </h3>
        <p matLine> {{ note.title }} </p>
        <p matLine> {{ note.description }} </p>
        <p matLine> {{ note.category }} </p>
        <div *ngIf="isLogged">
          <button mat-button color="primary" (click)="selectNote(note)" *ngIf="user.email === note.user.email">Editar</button>
          <button mat-button color="warn" (click)="deleteNote(note)" *ngIf="user.email === note.user.email">Eliminar</button>
        </div>
      </mat-list-item>
    </mat-card-content>
  </mat-card>
</mat-list>
